


#widthbar{
  
  background-color: blue;
  z-index: 10;
  height: 50px;
  position: fixed;
}
.navbar{
  position: fixed;
  
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}






  


