/*body백그라운드*/
body {
  width:100vw;
  height:100vh;
  margin: 0;
  display:grid;
  
  grid-template-rows: 60px 50px 450px 600px;
  background-color: rgb(218, 218, 218);
  grid-template-areas: 
    'nav'
    'search'
    'card'
    'dragbar';
}
/** 가장큰 박스*/
nav{
  grid-area:nav;
}

#search{
  grid-area:search;
  margin: 10px;
  padding-left:100px;
}


#card{
  grid-area:card;
  display:grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  margin: 0 110px;
  grid-gap: 60px;
}

#dragbar{
  grid-area:dragbar;
  background-color: black;
  margin: 40px 100px;
  border-radius: 30px;
  opacity: 0.8;
}

.inner-dragbar{
  text-align:center;
  margin: 30px 30px;
  padding: 220px;
  border-radius: 30px;
  background-color: gray;
  opacity: 1;
  color:white;
  font-size:30px;
}






